
{% extends 'partials/base.html.twig' %}

{% block content %}

<!-- Begin page content -->


<!-- Small jumbotron for interior pages-->

	<div class="hero-unit-sm">
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row black-bg sp-hero clearfix">
				<div class="col-xs-12">
					<p style="font-size:14px; color:#000; font-weight:bold; font-style:italic; text-align:center">Partial list &mdash; additional sponsors to be added soon.</p>
					<h2 class="sponsor-hd-g">Hero Sponsor</h2>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.lib.iastate.edu/" target="_blank">{{ page.media['Iowa-State.png'].html('', 'Iowa State University Library logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="https://library.osu.edu/" target="_blank">{{ page.media['State-Univeristy-of-Ohio.png'].html('','Ohio State University Libraries logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.library.virginia.edu/" target="_blank">{{ page.media['UVALibrary.png'].html('','University of Virginia Library logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://new.library.arizona.edu/" target="_blank">{{ page.media['Univeristy-of-Arizona.png'].html('','University of Arizona Library logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.lib.uiowa.edu/" target="_blank">{{ page.media['Univeristy-of-iowa.png'].html('','University of Iowa Library logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.lib.purdue.edu/" target="_blank">{{ page.media['Univeristy-of-Purdue.png'].html('','Purdue University Library logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://library.wustl.edu/" target="_blank">{{ page.media['Washington_U.png'].html('','Washington University in St. Louis Libraries logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.library.jhu.edu/" target="_blank">{{ page.media['john_hopkins.png'].html('','Johns Hopkins University Libraries logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="https://www.library.ohiou.edu/" target="_blank">{{ page.media['University-of-Ohio.png'].html('','University of Ohion Libraries logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://library.princeton.edu/" target="_blank">{{ page.media['princeton.png'].html('','Princeton University Library logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://web.library.emory.edu/" target="_blank">{{ page.media['emory.png'].html('','Emory University Library logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="https://www.lib.ucdavis.edu/" target="_blank">{{ page.media['uc_davis.png'].html('','University of California, Davis Library logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://library.uic.edu/" target="_blank">{{ page.media['Indiania_U.png'].html('','Indiana University Libraries Bloomington logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="https://libraries.indiana.edu/" target="_blank">{{ page.media['u_illinois_chicago.png'].html('','University of Illinois at Chicago Library logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://library.ucr.edu/" target="_blank">{{ page.media['riverside.png'].html('','University of California, Riverside Library logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://library.harvard.edu/" target="_blank">{{ page.media['harvard.png'].html('','Harvard University Library logo', '') }}</a>
				</div>
			</div>
			<div class="row sp-champ clearfix">
				<div class="col-xs-12">
					<h2 class="sponsor-hd-s">Champion Sponsor</h2>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.lib.uci.edu/" target="_blank">{{ page.media['uci-libraries.png'].html('','University of California, Irvine Libraries logo', '') }}</a>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.library.illinois.edu/" target="_blank">{{ page.media['Univeristy-of-Illinois.png'].html('','University of Illinois at Urbana-Champaign Library logo', '') }}</a>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
					<a href="http://info.lib.uh.edu/" target="_blank">{{ page.media['Univeristy-of-Houston.png'].html('','University of Houston Libraries logo', '') }}</a>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.library.northwestern.edu/" target="_blank">{{ page.media['Northwestern-University.png'].html('','Northwestern University Library logo', '') }}</a>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.lib.vt.edu/" target="_blank">{{ page.media['Viriginia-Tech.png'].html('','Virginia Tech Libraries logo', '') }}</a>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.lib.umn.edu/" target="_blank">{{ page.media['Univeristy-of-minnesota.png'].html('','University of Minnesota Libraries logo', '') }}</a>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
					<a href="https://www.oclc.org/home.en.html" target="_blank">{{ page.media['oclc.png'].html('','OCLC logo', '') }}</a>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.lib.utexas.edu/" target="_blank">{{ page.media['ut_austin.png'].html('','University of Texas at Austin Libraries logo', '') }}</a>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.ala.org/acrl/" target="_blank">{{ page.media['acrl.png'].html('','Association of College & Research Libraries (ACRL) logo', '') }}</a>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
					<a href="https://www.lib.utk.edu/" target="_blank">{{ page.media['knoxville.png'].html('','University of Tennessee Libraries logo', '') }}</a>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
					<a href="http://library.nd.edu/" target="_blank">{{ page.media['u-wash.png'].html('','University of Washington Libraries logo', '') }}</a>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
					<a href="http://libraries.claremont.edu/" target="_blank">{{ page.media['claremont.png'].html('','Claremont Colleges Libraries logo', '') }}</a>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
					<a href="https://onesearch.library.utoronto.ca/" target="_blank">{{ page.media['toronto.png'].html('','University of Toronto Libraries logo', '') }}</a>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.lib.utah.edu/" target="_blank">{{ page.media['Univeristy-of-Utah.png'].html('','University of Utah Library logo', '') }}</a>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.library.georgetown.edu/" target="_blank">{{ page.media['georgetown.png'].html('','Georgetown University Library logo', '') }}</a>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
					<a href="http://libraries.uky.edu/" target="_blank">{{ page.media['Univeristy-of-Kentucky.png'].html('','University of Kentucky Libraries logo', '') }}</a>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
					<a href="https://library.duke.edu/" target="_blank">{{ page.media['duke.png'].html('','Duke University Libraries logo', '') }}</a>
				</div>
			</div>
			<div class="row black-bg sp-ally clearfix">
				<div class="col-xs-12">
					<h2 class="sponsor-hd-b">Ally Sponsor</h2>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<ul class="ally">
						<li><a href="http://lib.byu.edu/" target="_blank">Brigham Young University Library</a></li>
						<li><a href="http://www.libraries.uc.edu/" target="_blank">University of Cincinnati Libraries</a></li>
						<li><a href="http://library.depaul.edu/Pages/default.aspx" target="_blank">DePaul University Library</a></li>
						<li><a href="http://library.gwu.edu/" target="_blank">The George Washington University Libraries</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<ul class="ally">
						<li><a href="http://www.lib.auburn.edu/" target="_blank">Auburn University Libraries</a></li>
						<li><a href="http://www.simmons.edu/academics/schools/school-of-library-and-information-science" target="_blank">Simmons School of Library and Information Science</a></li>
						<li><a href="http://library.tulane.edu/" target="_blank">Tulane University Library</a></li>
						<li><a href="http://ucblibraries.colorado.edu/" target="_blank">University of Colorado Boulder Libraries</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<ul class="ally">
						<li><a href="http://libraries.ucsd.edu/" target="_blank">UC San Diego Library</a></li>
						<li><a href="http://www.clemson.edu/library/" target="_blank">Clemson University Libraries</a></li>
						<li><a href="https://swem.wm.edu/" target="_blank">William &amp; Mary Swem Library</a></li>
						<li><a href="https://www.library.ualberta.ca/" target="_blank">University of Alberta Libraries</a></li>
						<li><a href="http://library.ucmerced.edu/" target="_blank">University of California, Merced Library </a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<ul class="ally">
						<li><a href="http://library.uoregon.edu/" target="_blank">University of Oregon Libraries</a></li>
						<li><a href="https://libraries.psu.edu/" target="_blank">Pennsylvania State University Libraries</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<ul class="ally">
						<li><a href="http://library.temple.edu/" target="_blank">Temple University Libraries</a></li>
						<li><a href="https://library.wayne.edu/" target="_blank">Wayne State University Libraries</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
