
{% extends 'partials/base.html.twig' %}

{% block content %}

<!-- Begin page content -->


<!-- Small jumbotron for interior pages-->

	<div class="hero-unit-sm">
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row black-bg sp-hero">
				<div class="col-xs-12 col-md-2">
					<h2 class="sponsor-hd-g">Hero <span class="sum">($5,000 and up)</span></h2>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.lib.iastate.edu/" target="_blank">{{ page.media['Iowa-State.png'].html('', 'Iowa State University Library logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.library.virginia.edu/" target="_blank">{{ page.media['UVALibrary.png'].html('','University of Virginia Library logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://new.library.arizona.edu/" target="_blank">{{ page.media['Univeristy-of-Arizona.png'].html('','University of Arizona Library logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.library.ohiou.edu/" target="_blank">{{ page.media['Univeristy-of-Ohio.png'].html('','University of Ohio Library logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.lib.uiowa.edu/" target="_blank">{{ page.media['Univeristy-of-iowa.png'].html('','University of Iowa Library logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.lib.purdue.edu/" target="_blank">{{ page.media['Univeristy-of-Purdue.png'].html('','Purdue University Library logo', '') }}</a>
				</div>
			</div>
			<div class="row sp-champ">
				<div class="col-xs-12 col-md-2">
					<h2 class="sponsor-hd-s">Champion <span class="sum">($4,999 - $3,000)</span></h2>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.lib.uci.edu/" target="_blank">{{ page.media['uci-libraries.png'].html('','University of California, Irvine Libraries logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.library.illinois.edu/" target="_blank">{{ page.media['Univeristy-of-Illinois.png'].html('','University of Illinois at Urbana-Champaign Library logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://info.lib.uh.edu/" target="_blank">{{ page.media['Univeristy-of-Houston.png'].html('','University of Houston Libraries logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.library.northwestern.edu/" target="_blank">{{ page.media['Northwestern-University.png'].html('','Northwestern University Library logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.lib.vt.edu/" target="_blank">{{ page.media['Viriginia-Tech.png'].html('','Virginia Tech Libraries logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.lib.umn.edu/" target="_blank">{{ page.media['Univeristy-of-minnesota.png'].html('','University of Minnesota Libraries logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://www.lib.utah.edu/" target="_blank">{{ page.media['Univeristy-of-Utah.png'].html('','University of Utah Library logo', '') }}</a>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<a href="http://libraries.uky.edu/" target="_blank">{{ page.media['Univeristy-of-Kentucky.png'].html('','University of Kentucky Libraries logo', '') }}</a>
				</div>
			</div>
			<div class="row black-bg sp-ally">
				<div class="col-xs-12 col-md-2">
					<h2 class="sponsor-hd-b">Ally <span class="sum">($2,999 and below)</span></h2>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<ul class="ally">
						<li><a href="http://lib.byu.edu/" target="_blank">Brigham Young University Library</a></li>
						<li><a href="http://www.libraries.uc.edu/" target="_blank">University of Cincinnati Libraries</a></li>
						<li><a href="http://library.depaul.edu/Pages/default.aspx" target="_blank">DePaul University Library</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<ul class="ally">
						<li><a href="http://library.gwu.edu/" target="_blank">The George Washington University Libraries</a></li>
						<li><a href="http://www.lib.auburn.edu/" target="_blank">Auburn University Libraries</a></li>
						<li><a href="http://www2.simmons.edu/library/" target="_blank">Simmons College Library</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<ul class="ally">
 						<li><a href="http://library.tulane.edu/" target="_blank">Tulane University Library</a></li>
 						<li><a href="http://ucblibraries.colorado.edu/" target="_blank">University of Colorado Boulder Libraries</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
